@import '../../../../styles/_variables.scss';
h1, span, button {
  display: block;
  font-family: "OpenSans", sans-serif;
  font-weight: bolder;
}

h1 {
  font-size: 1.75rem;
}

.landing {
  width: 100%;
  position: relative;
  padding-bottom: 8rem;
  background-color: $background-main;

  &-background {
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url("/assets/images/home_small.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  .position-absolute {
    position: absolute;
  }

  .card-position {
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: $white;

    &-content {
      padding: 2em 2em;

      h1 {
        word-wrap: break-word;
        font-size: 2.375rem;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 3rem;
        color: $primary-red;
      }

      h1, span {
        text-align: left;
      }

      button {
        width: 100%;
        padding: 0.2rem;
      }

      span {
        font-weight: 700;
      }

      span, button {
        font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
        margin-top: 1.5em;
        font-size: 1rem;
      }
    }
  }
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  text-align: center;
  background-color: $background-main;
  padding-bottom: 2rem;

  h1 {
    word-wrap: break-word;
    font-size: 2.375rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 3rem;
    color: $primary-red;
    padding: 0 3rem 0 3rem;
  }

  &-logo {
    img {
      margin-right: 0.5em;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.tracking {
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  //padding: 1.5em 2em 0 2em;
  background-color: $background-main;

  input {
    -webkit-appearance: none;
    border: solid 1px grey;
    width: 70%;
    padding: 1em;
  }

  span {
    margin-top: 1.5em;
  }

  h1 {
    word-wrap: break-word;
    font-size: 2.375rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 3rem;
    color: $primary-red;
  }

  input, button {
    display: block;
    border-radius: 0;
    font-size: 1.1rem;
    font-weight: normal;
  }

  &-lookup {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &-help {
    display: flex;
    justify-content: center;
    width: 100%;

    span:hover {
      cursor: pointer;
      text-decoration: underline;
      text-underline: black;
    }

    span:first-of-type {
      padding-right: 1em;
      border-right: solid black 1px;
    }

    span:last-of-type {
      padding-left: 1em;
    }
  }
}

.blog {
  h1{
    word-wrap: break-word;
    font-size: 2.375rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 3rem;
    color: $primary-red;
  }

  background-color: $background-main;
}

@media only screen and (min-width: 600px) and (max-width: 1019px) {
  .landing {

    &-background {
      background-image: url("/assets/images/home_medium.webp");
    }
  }
}

@media only screen and (min-width: 1020px) {
  .landing {
    padding-bottom: 1rem;

    &-background {
      height: auto;
      min-height: 375px;
      max-height: 500px;
      background-color: $background-main;
      background-image: url("/assets/images/home_big.webp");
      //background-size: 100% 100%;
      //background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
    }

    .card-position {
      margin-left: 5vw;
    }

    .card {
      max-width: 470px;
    }
  }

  .tracking {
    text-align: left;
    padding: 1.5em 2em 0 8em;
    overflow: hidden;

    h1 {
      position: relative;

      &:first-of-type:after {
        content: '';
        display: block;
        width: 100%;
        height: calc(50% - 3px);
        border-bottom: solid 6px $primary-red;
        position: absolute;
        top: 0;
        right: calc(100% + 1em);
      }
    }

    input {
      -webkit-appearance: none;
      border: solid 1px grey;
      width: 87%;
      padding: 1em;
    }

    span {
      width: 50%;
      margin-top: 1.5em;
      font-size: 1.3rem;
      font-weight: bold;
      line-height: 2rem;
    }

    input, button {
      display: block;
      border-radius: 0;
      font-size: 0.9rem;
      font-weight: normal;
    }

    &-lookup {
      padding-top: 0.3rem;
      width: 50%;
      justify-content: flex-start;
    }

    &-help {
      justify-content: space-between;
      width: 50%;

      span {
        font-size: 1rem;
        font-weight: normal;

        &:first-of-type {
          padding-right: 0;
        }

        &:last-of-type {
          text-align: right;
          padding-left: 0;
        }
      }
    }
  }

  .blog {
    text-align: left;
    padding: 1.5em 2em 0 8em;
    overflow: hidden;

    h1 {
      position: relative;

      &:first-of-type:after {
        content: '';
        display: block;
        width: 100%;
        height: calc(50% - 3px);
        border-bottom: solid 6px $primary-red;
        position: absolute;
        top: 0;
        right: calc(100% + 1em);
      }
    }
  }
}

.font-w-normal {
  font-weight: normal !important;
}
