@import "src/styles/mixins";

:host {
  @include set-text-block;
  @include set-text;
}

.landing {
  width: 100%;
  position: relative;
  padding-bottom: 8rem;
  background-color: var(--primary-bg);

  &-background {
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url("/assets/images/home_small.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  .position-absolute {
    position: absolute;
  }

  .card-position {
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: var(--primary-white);
    @include border-radius-medium;
    @include strong-box-shadow-around;

    &-content {
      padding: 2em 2em;

      h1 {
        word-wrap: break-word;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-800);
        text-transform: uppercase;
        line-height: var(--line-height-large);
        color: var(--primary-red);
      }

      h1, span {
        text-align: left;
      }

      button {
        width: 100%;
        margin-top: 2rem;
        @include button-flat-big;
        line-height: 2rem;
        cursor: pointer;
      }

      span {
        font: var(--font);
        font-weight: 700;
        margin-top: 1.5em;
        font-size: 1rem;
      }
    }
  }
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  text-align: center;
  background-color: var(--primary-bg);

  h1 {
    word-wrap: break-word;
    font-size: 2.375rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 3rem;
    color: var(--primary-red);
    padding: 0 3rem 0 3rem;
  }

  &-logo {
    img {
      margin-right: 0.5em;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.tracking {
  padding: 2rem 2rem;
  background-color: var(--primary-bg);

  .tracking-container {
    text-align: center;
  }

  .animated-bit {
    display: none;
  }

  input {
    -webkit-appearance: none;
    border: solid 1px grey;
    width: 70%;
    padding: 1em;
  }

  button {
    background-color: var(--primary-red);
  }

  input, button {
    display: block;
    border-radius: 0;
    font-size: 1.1rem;
    font-weight: normal;
  }

  span {
    margin-top: 1.5em;
  }

  h1 {
    text-align: center;
    word-wrap: break-word;
    font-size: 2.375rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 3rem;
    color: var(--primary-red);
  }


  &-lookup {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &-help {
    display: flex;
    justify-content: center;
    width: 100%;

    span:hover {
      cursor: pointer;
      text-decoration: underline;
      text-underline: black;
    }

    span:first-of-type {
      padding-right: 1em;
      border-right: solid black 1px;
    }

    span:last-of-type {
      padding-left: 1em;
    }
  }
}

.blog {
  padding: 2rem 0;

  h1 {
    text-align: center;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-800);
    text-transform: uppercase;
    line-height: var(--line-height-large);
    color: var(--primary-red);
  }

  background-color: var(--primary-bg);

  .blog-header {

  }

  .blog-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .blog-card {
      cursor: pointer;
      height: 455px;
      width: 320px;
      margin: 1rem 1em;

      background-color: white;
      --img-url: url('/assets/images/home_small.webp');
      --color: red;

      &-img {
        background-color: var(--color);
        height: 150px;
        background-image: var(--img-url);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
      }

    }

    .blog-card-content {
      padding: 0 3em 0 3em;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1019px) {
  .landing {

    &-background {
      background-image: url("/assets/images/home_medium.webp");
    }
  }
}

@media only screen and (min-width: 1020px) {
  :host {
    --header-width: 85%;
    --header-decoration-widht: 10%;

    .header-decoration {
      width: var(--header-decoration-widht);
      height: 1.8rem;
      border-bottom: var(--primary-red) solid 6px;
    }

  }

  .landing {
    padding-bottom: 1rem;

    &-background {
      height: auto;
      min-height: 375px;
      max-height: 500px;
      background-color: var(--primary-bg);
      background-image: url("/assets/images/home_big.webp");
      //background-size: 100% 100%;
      //background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
    }

    .card-position {
      margin-left: 5vw;
    }

    .card {
      max-width: 470px;
    }
  }

  .tracking {
    padding: 0;

    .tracking-container {
      padding: 0 2rem;
      text-align: unset;
      display: flex;
      justify-content: space-around;
      gap: 3rem;

      &-left {
        max-width: 40rem;
      }
    }

    .animated-bit {
      width: 600px;
      display: flex;
      align-items: center;
    }

    input {
      max-width: 70%;
      padding: 1em;
    }

    button {
    }

    input, button {
      display: block;
      border-radius: 0;
      font-size: 1.1rem;
      font-weight: normal;
    }

    span {
    }

    h1 {
      text-align: unset;
      width: var(--header-width);
      margin-left: auto;
    }

    .header-container {
      min-width: 600px;
      display: flex;
      width: 100%;
    }


    &-lookup {
      margin-top: 1em;
      justify-content: center;
      width: 100%;
    }

    &-help {
      display: flex;
      justify-content: center;
      width: 100%;

      span:hover {
        cursor: pointer;
        text-decoration: underline;
        text-underline: black;
      }

      span:first-of-type {
        padding-right: 1em;
        border-right: solid black 1px;
      }

      span:last-of-type {
        padding-left: 1em;
      }
    }
  }

  /*
  .tracking {

    display: flex;
    //justify-content: space-around;
    padding: 0;
    overflow: hidden;

    .tracking-container {
      //max-width: 800px;
      display: flex;
      flex-wrap: wrap;

      &-left{
        border: red 1px solid;
        width: 900px;

      }

    }

    .animated-bit {
      width: 600px;
      display: block;
      margin-top: 5rem;
      margin-left: 4rem;
    }

    .header-container {
      min-width: 600px;
      display: flex;
      width: 100%;


    }
    .header-decoration {
      width: 15%;
      height: 1.8rem;
      border-bottom: var(--primary-red) solid 6px;
    }

    h1 {
      text-align: unset;
      position: relative;
      width: 80%;
      max-width: 1200px;
      margin-left: auto;
      height: 3rem;
    }

    input {
      -webkit-appearance: none;
      border: solid 1px grey;
      width: 87%;
      padding: 1em;
    }

    span {
      width: 100%;
      margin-top: 1.5em;
      font-size: 1.3rem;
      font-weight: bold;
      line-height: 2rem;
    }

    input, button {
      display: block;
      border-radius: 0;
      font-size: 0.9rem;
      font-weight: normal;
    }

    &-lookup {
      padding-top: 0.3rem;
      width: 100%;
      justify-content: flex-start;
    }

    &-help {
      justify-content: space-between;
      width: 100%;

      span {
        font-size: 1rem;
        font-weight: normal;

        &:first-of-type {
          padding-right: 0;
        }

        &:last-of-type {
          text-align: right;
          padding-left: 0;
        }
      }
    }
  }
  */

  .blog {
    padding: 4rem 0;


    .blog-header {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }

    h1 {
      width: var(--header-width);
      text-align: left;
      margin-left: auto;
      position: relative;
    }
  }
}

.font-w-normal {
  font-weight: normal !important;
}
