.comment {
  //width: 40rem;
  width: 100%;
  margin-top: 1em;


  &-header{
    //outline: magenta 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
    border-bottom: solid 2px red;
  }
  &-body{
    padding-top: 1rem;

    p{
      margin: 0;
      padding: 0;
    }
  }

}
@media only screen and (min-width: 600px) {
  /*
  .comment {
    margin-top: 2rem;

    &-header{
    }
    &-body{
    }

  }
  */
}
