// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: '?',
    svg: '#' + str-replace($name, ' ', '_')
  );

  $formats: (
    otf: 'opentype',
    ttf: 'truetype'
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// Bosch fonts
@include font-face('BoschSans-Light', '../fonts/BoschSans-Light', 300, normal, eot ttf svg);
@include font-face('BoschSans-LightItalic', '../fonts/BoschSans-LightItalic', 300, italic, eot ttf svg);
@include font-face('BoschSans-Regular', '../fonts/BoschSans-Regular', 400, normal, eot ttf svg);
@include font-face('BoschSans-RegularItalic', '../fonts/BoschSans-RegularItalic', 400, italic, eot ttf svg);
@include font-face('BoschSans-Medium', '../fonts/BoschSans-Medium', 500, normal, eot ttf svg);
@include font-face('BoschSans-MediumItalic', '../fonts/BoschSans-MediumItalic', 500, italic, eot ttf svg);
@include font-face('BoschSans-Bold', '../fonts/BoschSans-Bold', 700, normal, eot ttf svg);
@include font-face('BoschSans-BoldItalic', '../fonts/BoschSans-BoldItalic', 700, italic, eot ttf svg);
@include font-face('BoschSans-Black', '../fonts/BoschSans-Black', 900, normal, eot ttf svg);
@include font-face('BoschSans-BlackItalic', '../fonts/BoschSans-BlackItalic', 900, italic, eot ttf svg);

// Bosch icons
@include font-face('BoschIcon', '../fonts/bosch-icons/Bosch-Icon', 300, normal, eot ttf svg);
