$BoschLight: 'BoschSans-Light';
$BoschLightItalic: 'BoschSans-LightItalic';
$BoschRegular: 'BoschSans-Regular';
$BoschRegularItalic: 'BoschSans-RegularItalic';
$BoschMedium: 'BoschSans-Medium';
$BoschMediumItalic: 'BoschSans-MediumItalic';
$BoschBold: 'BoschSans-Bold';
$BoschBoldItalic: 'BoschSans-BoldItalic';
$BoschBlack: 'BoschSans-Black';
$BoschBlackItalic: 'BoschSans-BlackItalic';
$Streamline: 'StreamLine';
$StreamlineFilled: 'StreamLineFilled';
$BoschIcon: 'BoschIcon';
