.form-group {
  select {
    border: 1px solid $grey13;
    box-shadow: none;
    border-radius: 0;
    -moz-appearance: none;
  }
  input {
    border: 1px solid $grey13;
    border-radius: 0;
  }
}

input[type='number'] {
  border: 1px solid $grey6;
}

form {
  padding: 0 25%;
  margin: 0 auto;

  &.form-title {
    font-family: $BoschMedium;
    font-size: 2rem;
    font-weight: normal;
  }

  label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .searchForm {
    border-radius: 0;
  }
  .input-group {
    input,
    button {
      border-radius: 0;
    }
  }
}

//Entities
%btn-style-global {
  color: $white;
  padding-top: 8px;
  padding-bottom: 7px;
}

.form-inline {
  .btn-info {
    background-color: $lightblue40;
    border-color: $lightblue60;
    @extend %btn-style-global;
  }
  .btn-info:hover {
    background-color: $lightlue70;
    border-color: $turquoise60;
    @extend %btn-style-global;
  }
}
