html {
  font-size: 16px;
}

@media only screen and (max-width: 1680px) and (orientation: landscape) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 667px) and (orientation: landscape) {
  html {
    font-size: 11px;
  }
}

@media only screen and (max-width: 375px) and (orientation: portrait) {
  html {
    font-size: 11px;
  }
}

body {
  font-size: 0.8125rem; // 13px
  font-family: $BoschMedium;
  line-height: 1.5;
  margin: 0;
  color: $black;
  height: 100vh;
  width: 100%;
  background-color: $white;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
:after,
:before {
  box-sizing: border-box;
}

//remove grey border on container click
a {
  outline: none;
  text-decoration: none;

  a img {
    outline: none;
  }
}

div {
  outline: none;
}

li {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.bosch-icon {
  font-family: $BoschIcon;

  &.alert-success {
    color: $lightgreen;
  }

  &.alert-warning {
    color: $amber;
  }

  &.alert-danger {
    color: $red;
  }
}

[hidden] {
  display: none !important;
}

.global-navigation mat-list {
  padding: 0;
}

procon-core-loading {
  top: 0 !important;
}