<div class="registration-form">
  <form>
    <!-- inputs -->
    <!-- Vezetéknén/firstName -->
    <div class="form-inputs">
      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Vezéknév</mat-label>
        <input id="firstName"
               matInput
               type="text"
               placeholder="pl.: Kiss"
        >
      </mat-form-field>
      <!-- Keresztnév/lastName -->
      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Keresztnév</mat-label>
        <input id="lastName"
               matInput
               type="text"
               placeholder="pl.: Tamás"
        >
      </mat-form-field>
      <!-- email -->
      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>E-mail cím</mat-label>
        <input id="email"
               matInput
               type="email"
               placeholder="emailcimem@gmail.com"
        >
      </mat-form-field>
      <!-- phoneNum -->
      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Telefon szám</mat-label>
        <input id="phoneNum"
               matInput
               type="text"
               placeholder="pl.: +36301234567"
               [required]="true"
        >
      </mat-form-field>
      <!-- password -->
      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Jelszó</mat-label>
        <input id="password"
               matInput
               type="password"
               placeholder="minimum 6 karakter"
        >
      </mat-form-field>
      <!-- password again -->
      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Jelszó ismét</mat-label>
        <input id="passwordAgain"
               matInput
               type="password"
               placeholder="minimum 6 karakter"
        >
      </mat-form-field>
    </div>
    <div class="form-checkboxes">
      <!-- checkboxes -->
      <!-- ÁSZF -->
      <mat-checkbox >Megértettem és elfogadom az ÁSZF-et</mat-checkbox>
      <!-- GDPR -->
      <mat-checkbox >Megértettem és elfogadom az Adatkezelési Tájékoztatót</mat-checkbox>
      <!-- newsLetter -->
      <mat-checkbox >Szeretnék hírlevelet kapni és értesülni a <strong>FOXPOST</strong> ajánlatairól.</mat-checkbox>
      <!-- game -->
      <mat-checkbox >Részt veszek a FOXPOST nyereményjátékaiban és elfogadom a Játék-, illetve Adatvédelmi Szabályzatot.</mat-checkbox>
    </div>
  </form>
</div>
