/* You can add global styles to this file, and also import other style files */
@import './styles/variables.scss';
@import './styles/buttons.scss';
@import './styles/mixins.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-style)
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img, section {
  padding: 0;
  margin: 0;
}

h1, h3, span, p {
  padding: 0;
  margin: 0;
}

