<div class="opt-in-form">
  <div class="form-checkboxes">
    <!-- checkboxes -->
    <!-- ÁSZF -->
    <mat-checkbox [formControl]="this.form.gtc">Megértettem és elfogadom az ÁSZF-et</mat-checkbox>
    <!-- GDPR -->
    <mat-checkbox [formControl]="this.form.gdpr">Megértettem és elfogadom az Adatkezelési Tájékoztatót</mat-checkbox>
    <!-- newsLetter -->
    <mat-checkbox [formControl]="this.form.newsLetter">Szeretnék hírlevelet kapni és értesülni a <strong>FOXPOST</strong> ajánlatairól.</mat-checkbox>
    <!-- game -->
    <mat-checkbox [formControl]="this.form.game">Részt veszek a FOXPOST nyereményjátékaiban és elfogadom a Játék-, illetve Adatvédelmi
      Szabályzatot.
    </mat-checkbox>
  </div>
</div>
